

<ul>
  {% if facebook != '' %}
    <a
      class="btn text-white btn-floating m-1"
      style="background-color: #3b5998;"
      href="{{ facebook }}"
      target="_blank"
      role="button"
    ><i class="fa fa-facebook-f"></i
      >Facebook</a>
  {% endif %}
  {% if twitter != '' %}
    <a
      class="btn text-white btn-floating m-1"
      style="background-color: #55acee;"
      href="{{ twitter }}"
      target="_blank"
      role="button"
    ><i class="fa fa-twitter"></i
      >Twitter</a>
  {% endif %}
  {% if linkedin != '' %}
    <a
      class="btn text-white btn-floating m-1"
      style="background-color: #0082ca;"
      href="{{ linkedin }}"
      target="_blank"
      role="button"
    ><i class="fa fa-linkedin"></i
      >Linkedin</a>
  {% endif %}
</ul>



